{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
        <div class="container">
                <h1>Scoreboard</h1>
        </div>
</div>
<div class="container">
        {% include "components/errors.html" %}

        <div id="score-graph" class="row align-items-center">
                <div class="col-md-12">
                        <div class="text-center" id="score-graph-spinner">
                                <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
                        </div>
                        <div id="score-graph-chart" style="height: 400px;"></div>
                </div>
        </div>

        <div id="scoreboard" class="row">
                <div class="col-md-12 py-3" id="scoreboard-brackets" hidden>
                        <nav class="nav nav-pills nav-fill" id="scoreboard-bracket-nav"></nav>
                </div>

                <div class="col-md-12" id="scoreboard-table-container">
                        <table class="table table-striped align-middle">
                                <thead>
                                        <tr>
                                                <th style="width: 10px">Place</th>
                                                <th class="text-start ps-3">{{ get_mode_as_word(capitalize=True) }}</th>
                                                <th>Score</th>
                                        </tr>
                                </thead>
                                <tbody id="scoreboard-standings"></tbody>
                        </table>
                </div>

                <div class="col-md-12" id="scoreboard-empty" hidden>
                        <h3 class="text-center text-muted">Scoreboard is empty</h3>
                </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
        <script defer src="{{ url_for('views.themes', path='js/echarts.bundle.js') }}"></script>
{% endblock %}

{% block entrypoint %}
        <script defer src="{{ url_for('views.themes', path='js/pages/scoreboard.js') }}"></script>
{% endblock %}
